In [1]:
import pandas as pd
import pypyodbc
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
server = 'LIELAH\SQLEXPRESS' 
database = 'foodDelivery'   
cnxn = pypyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database)
cursor = cnxn.cursor()
query = "SELECT * from foodDelivery;"
df = pd.read_sql(query, cnxn)
print(df.dtypes)
print('         ---null data---')
print(df.isna().sum())
df.head()
df['time_taken_min'] = df['time_taken_min'].astype(float)
df['delivereddistance'] = df['delivereddistance'].astype(float)
df['multiple_deliveries'] = df['multiple_deliveries'].astype(float)
df.delivery_person_age = df.delivery_person_age.fillna(df.delivery_person_age.mean())
df.delivery_person_ratings = df.delivery_person_ratings.fillna(df.delivery_person_ratings.mean())
df.pickuptime = df.pickuptime.fillna(df.pickuptime.mode()[0])
df.city = df.city.fillna(df.city.mode()[0])
df.festival = df.festival.fillna(df.festival.mode()[0])
df.multiple_deliveries = df.multiple_deliveries.fillna(df.multiple_deliveries.mode()[0])
df.road_traffic_density = df.road_traffic_density.fillna(df.road_traffic_density.mode()[0])
df['order_date'] =  pd.to_datetime(df['order_date'], format='%Y/%m/%d')
df['orderedmonth'] = df['order_date'].dt.strftime('%m-%y')
df = df.dropna()
df['time_orderd'] = df['time_orderd'].astype(str)
df['time_orderd'] = df['time_orderd'].str.split('.').str[0]
df['time_orderd'] = pd.to_datetime(df['time_orderd'],format= '%H:%M:%S' ).dt.time
df.head()

c:\Users\smabh\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

id                          object
delivery_person_id          object
delivery_person_age        float64
delivery_person_ratings    float64
order_date                  object
time_orderd                 object
weatherconditions           object
road_traffic_density        object
vehicle_condition            int64
type_of_order               object
type_of_vehicle             object
multiple_deliveries        float64
festival                    object
city                        object
time_taken_min              object
pickuptime                 float64
delivereddistance          float64
dtype: object
         ---null data---
id                            0
delivery_person_id            0
delivery_person_age        1611
delivery_person_ratings    1660
order_date                    0
time_orderd                1456
weatherconditions             0
road_traffic_density        454
vehicle_condition             0
type_of_order                 0
type_of_vehicle               0
multiple_deliveries         985
festival                    228
city                       1183
time_taken_min                0
pickuptime                 1456
delivereddistance             0
dtype: int64

,id,delivery_person_id,delivery_person_age,delivery_person_ratings,order_date,time_orderd,weatherconditions,road_traffic_density,vehicle_condition,type_of_order,type_of_vehicle,multiple_deliveries,festival,city,time_taken_min,pickuptime,delivereddistance,orderedmonth
0,0x5b31,VADRES11DEL01,29.0,4.5,2022-04-03,11:15:00,conditions Sandstorms,High,1,Drinks,scooter,0.0,False,Metropolitian,24.0,10.0,0.014138,04-22
1,0x5e9f,CHENRES08DEL03,37.0,4.9,2022-04-05,19:45:00,conditions Sunny,Jam,2,Drinks,scooter,1.0,False,Urban,21.0,15.0,0.084851,04-22
2,0xc706,KOLRES16DEL03,21.0,4.5,2022-02-15,19:15:00,conditions Stormy,Jam,1,Meal,scooter,1.0,False,Metropolitian,23.0,10.0,0.084851,02-22
3,0x3caa,INDORES18DEL01,25.0,4.8,2022-03-14,23:45:00,conditions Fog,Low,2,Snack,electric_scooter,0.0,False,Metropolitian,20.0,15.0,0.098995,03-22
4,0xb7d7,SURRES03DEL01,20.0,4.8,2022-03-31,23:45:00,conditions Cloudy,Low,1,Buffet,motorcycle,0.0,False,Metropolitian,22.0,15.0,0.098995,03-22

In [2]:
age_bucket = [18, 25, 30, 35, 40, 45]
df['ages'] = pd.cut(df['delivery_person_age'], age_bucket)
delivery_count = df.groupby(['ages']).count()
delivery_count = delivery_count['delivery_person_age']
delivery_count = delivery_count.to_frame('delivery_count')
delivery_count = delivery_count.reset_index()
delivery_count['ages'] = delivery_count['ages'].astype(str)
delivery_count

       ages  delivery_count
0  (18, 25]           12916
1  (25, 30]           11070
2  (30, 35]           10900
3  (35, 40]            8820
4  (40, 45]               0

In [3]:
total_TimeAndDistance = df.groupby(['city','type_of_vehicle']).sum()
total_TimeAndDistance = total_TimeAndDistance.drop(['delivery_person_age','delivery_person_ratings','vehicle_condition','multiple_deliveries', 'festival','pickuptime'], axis =1)
total_TimeAndDistance = total_TimeAndDistance.reset_index()
total_TimeAndDistance

             city    type_of_vehicle  time_taken_min  delivereddistance
0  Metropolitian   electric_scooter          68463.0         248.463187
1  Metropolitian         motorcycle         566359.0        1817.715520
2  Metropolitian            scooter         283305.0        1030.126651
3     Semi-Urban   electric_scooter            147.0           0.325266
4     Semi-Urban         motorcycle           7138.0          16.857426
5     Semi-Urban            scooter            474.0           1.541494
6          Urban   electric_scooter          17365.0          67.698326
7          Urban         motorcycle         131423.0         456.352260
8          Urban            scooter          74713.0         292.063220

In [4]:
total_vehicleCount = df.groupby(['city','type_of_vehicle']).count()
total_vehicleCount = total_vehicleCount.drop(['delivery_person_id', 'delivery_person_age',
       'delivery_person_ratings', 'order_date', 'time_orderd',
       'weatherconditions', 'road_traffic_density', 'vehicle_condition',
       'type_of_order', 'multiple_deliveries', 'festival', 'time_taken_min',
       'pickuptime', 'delivereddistance', 'ages','orderedmonth'], axis =1)
total_vehicleCount = total_vehicleCount.reset_index()
total_vehicleCount

             city    type_of_vehicle     id
0  Metropolitian   electric_scooter    2709
1  Metropolitian         motorcycle   19989
2  Metropolitian            scooter   11133
3     Semi-Urban   electric_scooter       3
4     Semi-Urban         motorcycle     143
5     Semi-Urban            scooter      10
6          Urban   electric_scooter     808
7          Urban         motorcycle    5405
8          Urban            scooter    3506

In [5]:
for index, row in delivery_count.iterrows():
    cursor.execute("INSERT INTO AgeDeliveryCount (ages, delivery_count) Values(?,?);", [row.ages, row.delivery_count])
cnxn.commit()
for index, row in total_TimeAndDistance.iterrows():
    cursor.execute("INSERT INTO  totalTimeAndDistance(city, type_of_vehicle, time_taken_min, delivereddistance) Values(?,?,?,?);", 
    [row.city,row.type_of_vehicle,row.time_taken_min,row.delivereddistance])
cnxn.commit()
for index, row in total_vehicleCount.iterrows():
    cursor.execute("INSERT INTO totalVehicleCount (city,type_of_vehicle, cnt) Values(?,?,?);", [row.city, row.type_of_vehicle,row.id])
cnxn.commit()
cursor.close()

In [6]:
df

,id,delivery_person_id,delivery_person_age,delivery_person_ratings,order_date,time_orderd,weatherconditions,road_traffic_density,vehicle_condition,type_of_order,type_of_vehicle,multiple_deliveries,festival,city,time_taken_min,pickuptime,delivereddistance,orderedmonth,ages
0,0x5b31,VADRES11DEL01,29.0,4.5,2022-04-03,11:15:00,conditions Sandstorms,High,1,Drinks,scooter,0.0,False,Metropolitian,24.0,10.0,0.014138,04-22,"(25, 30]"
1,0x5e9f,CHENRES08DEL03,37.0,4.9,2022-04-05,19:45:00,conditions Sunny,Jam,2,Drinks,scooter,1.0,False,Urban,21.0,15.0,0.084851,04-22,"(35, 40]"
2,0xc706,KOLRES16DEL03,21.0,4.5,2022-02-15,19:15:00,conditions Stormy,Jam,1,Meal,scooter,1.0,False,Metropolitian,23.0,10.0,0.084851,02-22,"(18, 25]"
3,0x3caa,INDORES18DEL01,25.0,4.8,2022-03-14,23:45:00,conditions Fog,Low,2,Snack,electric_scooter,0.0,False,Metropolitian,20.0,15.0,0.098995,03-22,"(18, 25]"
4,0xb7d7,SURRES03DEL01,20.0,4.8,2022-03-31,23:45:00,conditions Cloudy,Low,1,Buffet,motorcycle,0.0,False,Metropolitian,22.0,15.0,0.098995,03-22,"(18, 25]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45157,0x6acc,INDORES05DEL02,20.0,4.6,2022-03-19,20:25:00,conditions Cloudy,Jam,2,Meal,scooter,0.0,False,Metropolitian,20.0,10.0,0.070708,03-22,"(18, 25]"
45158,0xb5ce,INDORES20DEL02,32.0,4.7,2022-04-05,19:40:00,conditions Sunny,Jam,2,Buffet,scooter,0.0,False,Metropolitian,22.0,15.0,0.070712,04-22,"(30, 35]"
45159,0x7d1d,HYDRES03DEL03,29.0,4.0,2022-03-03,20:15:00,conditions Cloudy,Jam,1,Drinks,motorcycle,1.0,False,Metropolitian,33.0,5.0,0.084851,03-22,"(25, 30]"
45160,0x5c6c,PUNERES05DEL03,35.0,4.6,2022-03-16,17:35:00,conditions Sunny,Medium,0,Buffet,motorcycle,1.0,False,Metropolitian,29.0,15.0,0.127282,03-22,"(30, 35]"
45161,0x34ee,MYSRES05DEL01,28.0,4.2,2022-03-08,22:00:00,conditions Sandstorms,Jam,0,Snack,motorcycle,1.0,False,Urban,31.0,5.0,0.155564,03-22,"(25, 30]"

In [ ]:
city_df = pd.get_dummies(df['City'], drop_first= True)
festival_df = pd.get_dummies(df['Festival'], drop_first= True)
vehicle_df = pd.get_dummies(df['Type_of_vehicle'], drop_first= True)
order_df = pd.get_dummies(df['Type_of_order'], drop_first= True)
traffic_density_df = pd.get_dummies(df['Road_traffic_density'], drop_first= True)
weather_df = pd.get_dummies(df['Weatherconditions'], drop_first= True)
df = pd.concat([df,city_df,festival_df,vehicle_df,order_df,traffic_density_df,weather_df], axis = 1)
df