In [1]:
import pandas as pd
import pyodbc
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
server = 'LIELAH\SQLEXPRESS' 
database = 'foodDelivery'   
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database)
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT * from foodDelivery;"
df = pd.read_sql(query, cnxn)
df.head()

c:\Users\smabh\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_min,PickupTime,deliveredDistance
0,0x5b31,VADRES11DEL01,29.0,4.5,2022-04-03,11:15:00.0000000,conditions Sandstorms,High,1,Drinks,scooter,0.0,False,Metropolitian,24,10.0,0.014138
1,0x5e9f,CHENRES08DEL03,37.0,4.9,2022-04-05,19:45:00.0000000,conditions Sunny,Jam,2,Drinks,scooter,1.0,False,Urban,21,15.0,0.084851
2,0xc706,KOLRES16DEL03,21.0,4.5,2022-02-15,19:15:00.0000000,conditions Stormy,Jam,1,Meal,scooter,1.0,False,Metropolitian,23,10.0,0.084851
3,0x3caa,INDORES18DEL01,25.0,4.8,2022-03-14,23:45:00.0000000,conditions Fog,Low,2,Snack,electric_scooter,0.0,False,Metropolitian,20,15.0,0.098995
4,0xb7d7,SURRES03DEL01,20.0,4.8,2022-03-31,23:45:00.0000000,conditions Cloudy,Low,1,Buffet,motorcycle,0.0,False,Metropolitian,22,15.0,0.098995

In [2]:
print(df.dtypes)
print('         ---null data---')
print(df.isna().sum())

ID                          object
Delivery_person_ID          object
Delivery_person_Age        float64
Delivery_person_Ratings    float64
Order_Date                  object
Time_Orderd                 object
Weatherconditions           object
Road_traffic_density        object
Vehicle_condition            int64
Type_of_order               object
Type_of_vehicle             object
multiple_deliveries        float64
Festival                    object
City                        object
Time_taken_min              object
PickupTime                 float64
deliveredDistance          float64
dtype: object
         ---null data---
ID                            0
Delivery_person_ID            0
Delivery_person_Age        1611
Delivery_person_Ratings    1660
Order_Date                    0
Time_Orderd                1456
Weatherconditions             0
Road_traffic_density        454
Vehicle_condition             0
Type_of_order                 0
Type_of_vehicle               0
multiple_deliveries         985
Festival                    228
City                       1183
Time_taken_min                0
PickupTime                 1456
deliveredDistance             0
dtype: int64

In [3]:
df['Time_taken_min'] = df['Time_taken_min'].astype(float)
df['deliveredDistance'] = df['deliveredDistance'].astype(float)
df['multiple_deliveries'] = df['multiple_deliveries'].astype(float)
df['Order_Date'] =  pd.to_datetime(df['Order_Date'], format='%Y/%m/%d')
df.Delivery_person_Age = df.Delivery_person_Age.fillna(df.Delivery_person_Age.mean())
df.Delivery_person_Ratings = df.Delivery_person_Ratings.fillna(df.Delivery_person_Ratings.mean())
df.PickupTime = df.PickupTime.fillna(df.PickupTime.mode()[0])
df.City = df.City.fillna(df.City.mode()[0])
df.Festival = df.Festival.fillna(df.Festival.mode()[0])
df.multiple_deliveries = df.multiple_deliveries.fillna(df.multiple_deliveries.mode()[0])
df.Road_traffic_density = df.Road_traffic_density.fillna(df.Road_traffic_density.mode()[0])
df = df.dropna()
df.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_min,PickupTime,deliveredDistance
0,0x5b31,VADRES11DEL01,29.0,4.5,2022-04-03,11:15:00.0000000,conditions Sandstorms,High,1,Drinks,scooter,0.0,False,Metropolitian,24.0,10.0,0.014138
1,0x5e9f,CHENRES08DEL03,37.0,4.9,2022-04-05,19:45:00.0000000,conditions Sunny,Jam,2,Drinks,scooter,1.0,False,Urban,21.0,15.0,0.084851
2,0xc706,KOLRES16DEL03,21.0,4.5,2022-02-15,19:15:00.0000000,conditions Stormy,Jam,1,Meal,scooter,1.0,False,Metropolitian,23.0,10.0,0.084851
3,0x3caa,INDORES18DEL01,25.0,4.8,2022-03-14,23:45:00.0000000,conditions Fog,Low,2,Snack,electric_scooter,0.0,False,Metropolitian,20.0,15.0,0.098995
4,0xb7d7,SURRES03DEL01,20.0,4.8,2022-03-31,23:45:00.0000000,conditions Cloudy,Low,1,Buffet,motorcycle,0.0,False,Metropolitian,22.0,15.0,0.098995
5,0x1dc5,JAPRES15DEL01,28.0,4.8,2022-03-15,16:10:00.0000000,conditions Stormy,Medium,0,Snack,motorcycle,0.0,False,Metropolitian,22.0,10.0,0.056568
6,0x877b,VADRES06DEL02,32.0,4.9,2022-03-14,19:30:00.0000000,conditions Cloudy,Jam,0,Meal,motorcycle,1.0,False,Metropolitian,41.0,15.0,0.183851
7,0x7b4,JAPRES05DEL03,28.0,4.7,2022-03-29,19:10:00.0000000,conditions Fog,Jam,2,Snack,scooter,1.0,False,Metropolitian,40.0,15.0,0.197989
8,0x4fcb,PUNERES08DEL01,36.0,4.6,2022-03-28,16:25:00.0000000,conditions Sunny,Medium,1,Drinks,motorcycle,1.0,False,Metropolitian,19.0,15.0,0.056568
9,0xa31f,VADRES14DEL03,39.0,4.9,2022-03-09,21:25:00.0000000,conditions Sunny,Jam,2,Buffet,motorcycle,1.0,False,Metropolitian,20.0,10.0,0.042430

In [4]:
age = [18, 25, 30, 35, 40, 45]
df['ages'] = pd.cut(df['Delivery_person_Age'], age)
af = df.groupby(['ages']).count()
b = af['Delivery_person_Age']
p = b.to_frame('delivery_count')
p

          delivery_count
ages
(18, 25]           12916
(25, 30]           11070
(30, 35]           10900
(35, 40]            8820
(40, 45]               0

In [5]:
df['OrderedMonth'] = df['Order_Date'].dt.strftime('%m-%y')
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken_min,PickupTime,deliveredDistance,ages,OrderedMonth
0,0x5b31,VADRES11DEL01,29.0,4.5,2022-04-03,11:15:00.0000000,conditions Sandstorms,High,1,Drinks,scooter,0.0,False,Metropolitian,24.0,10.0,0.014138,"(25, 30]",04-22
1,0x5e9f,CHENRES08DEL03,37.0,4.9,2022-04-05,19:45:00.0000000,conditions Sunny,Jam,2,Drinks,scooter,1.0,False,Urban,21.0,15.0,0.084851,"(35, 40]",04-22
2,0xc706,KOLRES16DEL03,21.0,4.5,2022-02-15,19:15:00.0000000,conditions Stormy,Jam,1,Meal,scooter,1.0,False,Metropolitian,23.0,10.0,0.084851,"(18, 25]",02-22
3,0x3caa,INDORES18DEL01,25.0,4.8,2022-03-14,23:45:00.0000000,conditions Fog,Low,2,Snack,electric_scooter,0.0,False,Metropolitian,20.0,15.0,0.098995,"(18, 25]",03-22
4,0xb7d7,SURRES03DEL01,20.0,4.8,2022-03-31,23:45:00.0000000,conditions Cloudy,Low,1,Buffet,motorcycle,0.0,False,Metropolitian,22.0,15.0,0.098995,"(18, 25]",03-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45157,0x6acc,INDORES05DEL02,20.0,4.6,2022-03-19,20:25:00.0000000,conditions Cloudy,Jam,2,Meal,scooter,0.0,False,Metropolitian,20.0,10.0,0.070708,"(18, 25]",03-22
45158,0xb5ce,INDORES20DEL02,32.0,4.7,2022-04-05,19:40:00.0000000,conditions Sunny,Jam,2,Buffet,scooter,0.0,False,Metropolitian,22.0,15.0,0.070712,"(30, 35]",04-22
45159,0x7d1d,HYDRES03DEL03,29.0,4.0,2022-03-03,20:15:00.0000000,conditions Cloudy,Jam,1,Drinks,motorcycle,1.0,False,Metropolitian,33.0,5.0,0.084851,"(25, 30]",03-22
45160,0x5c6c,PUNERES05DEL03,35.0,4.6,2022-03-16,17:35:00.0000000,conditions Sunny,Medium,0,Buffet,motorcycle,1.0,False,Metropolitian,29.0,15.0,0.127282,"(30, 35]",03-22
45161,0x34ee,MYSRES05DEL01,28.0,4.2,2022-03-08,22:00:00.0000000,conditions Sandstorms,Jam,0,Snack,motorcycle,1.0,False,Urban,31.0,5.0,0.155564,"(25, 30]",03-22

In [6]:
vf = df.groupby(['OrderedMonth','City','Type_of_order']).count()
vf = vf.drop(['Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Time_Orderd',
       'Weatherconditions', 'Road_traffic_density', 'Vehicle_condition',
       'Type_of_vehicle', 'multiple_deliveries', 'Festival',
        'Time_taken_min', 'PickupTime', 'deliveredDistance', 'ages','Order_Date'], axis =1)
vf

                                             ID
OrderedMonth City           Type_of_order
02-22        Metropolitian  Buffet         1329
                            Drinks         1250
                            Meal           1346
                            Snack          1373
             Semi-Urban     Buffet            4
                            Drinks            5
                            Meal              3
                            Snack             7
             Urban          Buffet          372
                            Drinks          369
                            Meal            368
                            Snack           388
03-22        Metropolitian  Buffet         5863
                            Drinks         5913
                            Meal           6042
                            Snack          5942
             Semi-Urban     Buffet           33
                            Drinks           22
                            Meal             21
                            Snack            38
             Urban          Buffet         1727
                            Drinks         1756
                            Meal           1658
                            Snack          1751
04-22        Metropolitian  Buffet         1170
                            Drinks         1193
                            Meal           1181
                            Snack          1229
             Semi-Urban     Buffet            5
                            Drinks            5
                            Meal              7
                            Snack             6
             Urban          Buffet          311
                            Drinks          346
                            Meal            349
                            Snack           324

In [7]:
sf = df.groupby(['City','Type_of_vehicle']).sum()
cf = df.groupby(['City','Type_of_vehicle']).count()
sf = sf.drop(['Delivery_person_Age','Delivery_person_Ratings','Vehicle_condition','multiple_deliveries', 'Festival','PickupTime'], axis =1)
cf = cf.drop(['Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Order_Date', 'Time_Orderd',
       'Weatherconditions', 'Road_traffic_density', 'Vehicle_condition',
       'Type_of_order', 'multiple_deliveries', 'Festival', 'Time_taken_min',
       'PickupTime', 'deliveredDistance', 'ages'], axis =1)
sf

                                  Time_taken_min  deliveredDistance
City           Type_of_vehicle
Metropolitian  electric_scooter          68463.0         248.463187
               motorcycle               566359.0        1817.715520
               scooter                  283305.0        1030.126651
Semi-Urban     electric_scooter            147.0           0.325266
               motorcycle                 7138.0          16.857426
               scooter                     474.0           1.541494
Urban          electric_scooter          17365.0          67.698326
               motorcycle               131423.0         456.352260
               scooter                   74713.0         292.063220

In [37]:
cf

                                     ID  OrderedMonth
City           Type_of_vehicle
Metropolitian  electric_scooter    2709          2709
               motorcycle         19989         19989
               scooter            11133         11133
Semi-Urban     electric_scooter       3             3
               motorcycle           143           143
               scooter               10            10
Urban          electric_scooter     808           808
               motorcycle          5405          5405
               scooter             3506          3506

In [45]:
from datetime import time


df['Time_Orderd'] = df['Time_Orderd'].astype(datetime)

TypeError: Cannot interpret '<module 'datetime' from 'c:\\Users\\smabh\\AppData\\Local\\Programs\\Python\\Python310\\lib\\datetime.py'>' as a data type

In [42]:
df['Time_Orderd'] = df['Time_Orderd'].astype(float)
time = ['00:00:00.0000000','01:00:00.0000000','02:00:00.0000000','03:00:00.0000000','04:00:00.0000000','05:00:00.0000000','06:00:00.0000000',
'07:00:00.0000000','08:00:00.0000000','09:00:00.0000000','10:00:00.0000000','11:00:00.0000000','12:00:00.0000000','13:00:00.0000000',
'14:00:00.0000000','15:00:00.0000000','16:00:00.0000000','17:00:00.0000000','18:00:00.0000000','19:00:00.0000000','20:00:00.0000000',
'21:00:00.0000000','22:00:00.0000000','23:00:00.0000000','24:00:00.0000000']
df['timeSlot'] = pd.cut(df['Time_Orderd'], time)
af = df.groupby(['ages']).count()
af

ValueError: could not convert string to float: '11:15:00.0000000'